.crawler\datas

crawler/datas/ETFD_1120731.csv
crawler/datas/MI_INDEX_0099P_20230731.csv
crawler/datas/SQUOTE_EW_1120731 - 複製.csv
crawler/datas/SQUOTE_EW_1120731.csv
crawler/datas/STOCK_DAY_ALL_20230804.csv